#enviar {
    text-align: center;
    text-size-adjust: 200px;
    font-size: 50px;
    background-color: chocolate;
    border-color: rgb(255, 102, 0);
    color: cornsilk;
    border-radius: 20px;
}

body {
    background-image: url(backrun.jpg);
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 10pt;
}

h1 {
    font-family: 'Nerko One', cursive;
    font-size: 50px;
    text-align: center;
    background-color: yellow;
    border: tomato;
    border-radius: 30px;
}

h2{
    font-family: 'Nerko One', cursive;
    display: inline-block;
    border: rgb(14, 13, 13);
    border-radius: 20px;

}